<% include layout/header %>
<body id="clrblk">
    <div class="container">   
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                   
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Welcome</div>
                </div>
                <div style="padding-top:30px" class="panel-body" >
                    Hello  <%= data.username %>
                </div>                    
            </div> 
        </div>
    </div>
</body>
<% include layout/footer %>